*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{

    border: 2px solid red;
    width: 393px;
    height: 760px;
    border-style: none;
}

.logo{

    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
}

h2{
    font-size: 33px;
    color: rgba(235, 84, 93, 1);

}
.tinder{

    width: 30px;
    height: 30px;
}

.img{


    background-image: url('./image/b251cee746874164653ce9e15e25c918.jpeg');
     width: 383px;
    height: 611px;
    border-radius: 10px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 
  
}

.icons{

    margin-top: 29.56px;
    margin-left: 49.4px;
    display: flex;
    gap: 40px;

    
}

.ff_w_h{

    width: 22.57px;
    height: 26.87px;
}
.ff_w_h2{

    width: 27.21px;
    height: 27.21px;
}
.ff_w_h3{

    width: 22.84px;
    height: 22.84px;
}
.ff_w_h4{

    width: 30.09px;
    height: 26.84px;
}
.ff_w_h5{

    width: 19.46px;
    height: 26.03px;
}
